*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #34344e;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    grid-row: 1/2;
    width: 100%;
    flex-direction: row;
}

#saved {
    display: none;
    background-color: white;
    border: none;
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    font-size: 2em;
    color: #51115C;
}

h1{
    border: solid 0.3rem white;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
}

header>div {
    display: flex;
    align-items: center;
}

#align{
    display: none;
    position: relative;
    width: 9rem;
    margin-left: -3rem;
}

#sidebar{
    width: 7rem;
    height: 5rem;
    margin-top: 0.6rem;
    display: none;
    z-index: 1;
    overflow:scroll;
    background-color: #89a7b1;
    border-radius: 1rem;
    position: absolute;
    top: 100%;
}

#sidebar::-webkit-scrollbar {
    width: 0px;
    display: none;
}

#add{
    background-color: white;
    border: none;
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    border-radius: 2rem;
    font-size: 2em;
    color: #51115C;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alarm{
    background-color: white;
    border: none;
    height: 4rem;
    width: 4rem;
    margin-right: 1.3rem;
    border-radius: 2rem;
    font-size: 2em;
    color: #51115C;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add:hover, #alarm:hover, #saved:hover{
    opacity: 95%;
}

header img{
    width: 2rem;
}

main{
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
}

span{
    font-size: 10rem;
    background-color: #51115caa;
    padding: 2rem;
    clip-path: circle();
}

.input-timer{
    width: 14rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > div{
    background-color: #89a7b1;
    border-radius: 1.5rem;
    width: 60rem;
}

input{
    width: 5rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
}

footer{
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem;
}

#profiles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

#profiles img{
    width: 1.6rem;
    margin-left: 1rem;
}

label{
    margin-bottom: 0.5rem;
}

footer button{
    background-color: white;
    border: none;
    border-radius: 3rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #51115C;
    font-weight: bolder;
    margin-right: 0.5rem;
}

footer button:hover{
    opacity: 90%;
}

#groupBtn {
    display: flex;
    margin-left: 10rem;
}

#img-play{
    width: 2.5rem;
}

#pause, #cancel, #resume, #refresh{
    display: none;
}
