*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 0, 229, 0.37) 0%, #00A3FE 100%, rgba(0, 163, 254, 0.29) 100%);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Lila{
    grid-row: 1/2;
}

.Sami{
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-start{
    background-color: white;
    border: solid 5px white;
    border-radius: 25px;
    width: 25%;
    height: 20%;
    display: block;
    color: orchid;
    font-weight: bolder;
    font-size: 25px;
    overflow: none;
    transition: all 1s 0.2s;
}

.btn-start:hover{
    background-color: plum;
    color: white;
    border-color: plum;
    box-shadow: 1px 1px 4px black;
    transition: all 1s 0.2s;
}

.btn-pause{
    background-color: white;
    border: solid 5px white;
    border-radius: 25px;
    width: 25%;
    height: 20%;
    display: none;
    color: orchid;
    font-weight: bolder;
    font-size: 25px;
    overflow: none;
    transition: all 1s 0.2s;
}

.btn-pause:hover{
    background-color: plum;
    color: white;
    border-color: plum;
    box-shadow: 1px 1px 4px black;
    transition: all 1s 0.2s;
}

.btn-cancel{
    background-color: white;
    border: solid 5px white;
    border-radius: 25px;
    width: 25%;
    height: 20%;
    display: none;
    color: orchid;
    font-weight: bolder;
    font-size: 25px;
    overflow: none;
    transition: all 1s 0.2s;
}

.btn-cancel:hover{
    background-color: plum;
    color: white;
    border-color: plum;
    box-shadow: 1px 1px 4px black;
    transition: all 1s 0.2s;
}

.btn-resume{
    background-color: white;
    border: solid 5px white;
    border-radius: 25px;
    width: 25%;
    height: 20%;
    display: none;
    color: orchid;
    font-weight: bolder;
    font-size: 25px;
    overflow: none;
    transition: all 1s 0.2s;
}

.btn-resume:hover{
    background-color: plum;
    color: white;
    border-color: plum;
    box-shadow: 1px 1px 4px black;
    transition: all 1s 0.2s;
}

footer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
}

.btn-add{
    width: 10%;
    background-color: white;
    border: solid 10px white;
    clip-path: circle();
    color: #00A3FE;
    font-size: 25px;
    font-weight: bolder;
    margin: 5%;
}

label {
    font-size: 16px;
    color: white;
}

input {
    font-size: 16px;
}

.timer {
    font-size: 200px;
    text-align: center;
    color: white;
}

.input-container {
    margin: 2%;
}


.align-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group{
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}